* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #7d7987;
  --link-color-hover: #1f1534;
  --title-color: #89c5cc;
  --btn-color: #69b99d;
  --btn-text: #f9f9f9;
  --btn-hover: #4ea788;
}

body {
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38),
    100%
  );
  min-height: 100vh;
}

.logo {
  width: 103px;
  margin-top: 0;
}

header {
  display: flex;
  flex-direction: row;
  margin: 65px 153px 58px 122px;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a,
h2 {
  font-family: "Mulish", sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3px;
  gap: 48px;
}

nav ul li a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
}

ul li a:hover {
  color: var(--link-color-hover);
  font-weight: 700;
}

#text-container {
  margin: 109px 119px;
  max-width: 578px;
  width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 49px;
}

#title-span {
  font-weight: 700;
  color: var(--title-color);
}

.paragraph-style {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: var(--text-color);
}

button {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: var(--btn-text);
  text-transform: uppercase;
  background-color: var(--btn-color);
  border: none;
  margin-top: 68px;
  height: 56px;
  width: 179px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

#hero-img {
  max-width: 493px;
}

#full-content {
  display: flex;
  flex-direction: row;
}

#footer-paragraph {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

footer {
  margin-bottom: 30px;
}
